


.tooltip-lists .last-child{
  border-radius: 5px !important;
}
.tooltip-lists .removeTooltipLists{
 margin: 3px !important;
}
.tooltip-lists {
    width: 248px !important;
    height: 203px !important;
    background: white;
    position: relative !important;
    top: 100px !important;
    border-radius: 10px;
    color: #8f8f8f !important;
}

.tooltip-lists p {
    display: inline-block ;
    position: relative !important;
    left: 10px !important;
    font-family: "arial";
    top: 2px !important;
    font-size: 15px;
}

.tooltip-list:hover {
    background: #ececec;
    cursor: pointer;

}
.tooltip-list:nth-child(1){
  border-radius: 20px 20px 0 0;
}


.tooltip-list img {
    position: relative !important;
    top: 11px !important;
    left: 11px !important;
} 




/**/



.toolbar{
  color: #8f8f8f !important;

  width: 248px;
  height: 230px;
  border-radius: 20px;
  background:white !important;
  box-shadow: 0px 16px 20px 8px rgba(0, 0, 0, 0.1);
  position:fixed !important;
  bottom:50px !important;
  right:50px !important;
  z-index: 999999999 !important;
  border: none !important;
  
}

.toolbar *{
  border: none !important;
}


.toolbar .li{
  position:relative;
  top:-20px;
  padding-top:6px;
  border-top:1px solid rgba(54, 56, 83, 0.15);
  cursor:pointer;

}
.toolbar img{
  display:inline-block;
  margin-left:5px !important;
}
.toolbar .li p{
  display:inline-block;
  margin:20px !important;
  position:absolute !important;
  top:-6px;
}

.toolbar .li:hover{
background: #f9f9f9;
}
.close-btn{
  position: static !important;
  width: 34px !important;
  cursor: pointer;
  padding:10px;
}
.toolbar .li:nth-child(5){
border-radius:0 0 20px 20px;
}

/**/

.tooltipsWindowParent{
  z-index: 9999999999999999999 ;
  position:absolute ;
  bottom:100px ;
  right:306px ;
  
}

.tours-window1 {
  border-radius: 10px;
  width: 470px;
  height: 500px;
  border: none !important;
  position: static !important;
  background: rgba(255, 255, 255, 1);

}
.tours-window1 .closeBtn{
  margin: 10px !important;
}

.search-tour1{
  width: 400px;
  height: 35px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-left: 20px;
  padding-left: 15px;
}

.tour1{
 padding: 10px;
 
}
.search-tour1 img{
  width: 15px;
  height: 15px;
  margin-top: 6px;
  

}
.search-tour1 input{
  margin-left: 10px;
  border: none;
  background: none;
  outline: none;
}
.details1{
  display: inline-block;
  position: relative;
}

.inner-details1{
  margin-left: 30px !important;
  display: inline-block;
  width: 405px;
  height: 100px;
  position: relative;
  box-shadow: 0px 8px 34px 10px rgba(0, 0, 0, 0.06);
}
.inner-details1 input{
  margin-top: 40px;
  padding-top: 10px;
  position: absolute;
  border: none;
  outline: none;
  background: none;
}
.details1 .dragdrop{
  position: absolute !important;
  top: 40px;
  left: 5px;
}


.inner-details1 p{
  color: rgba(164, 170, 175, 1);
  margin-left: 10px;
}
.last-images{
  position: absolute !important;
  right: 5px;
  top: 40%;
}

.tour1.dragging :where(.details1,i){
  opacity: 0.2;
}
.flag-img{
  position: relative;
  top: 12px;
}
.toursdnd{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}

.last-images img:nth-child(2){
  position: relative;
  top: 4px;
}

/**/


.addTooltipInformation{
  width: 300px !important;
  height: 350px !important;
  box-shadow: 0px 16px 20px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 99999999999 !important;
  background: white;
  margin-top: -10px !important;
}
.tooltipDiv{
  padding: 20px !important;
}

.tooltipDiv input{
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1) !important;
  border: none ;
  outline: none;
  border: 1px solid rgba(234, 234, 234, 1) !important;
  width: 240px !important;
  height: 25px !important;
  background-color: white;
  color: black;
}

.tooltipDiv input::placeholder {
  position: relative !important;
  left: 4px !important;
}

.tooltipDiv textarea{
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border: none;
  overflow: hidden !important;
  outline: none;
  resize: none;
  width: 240px !important;
  background-color: white;
  color: black;
  height: 150px !important;
}

.tooltipDiv textarea::placeholder{
  position: relative !important;
  left: 4px !important;
}

.tooltipDiv p{
  font-size: 14px;
}
.tooltipDiv button {
  width: 115px !important;
  height: 35px !important;
  outline: none;
  border: none;
  color: white;
  border-radius: 35px;
  box-shadow: 0px 7.157894611358643px 17.894737243652344px 0px rgba(50, 157, 255, 0.5);
  margin: 0 65px !important;
  background: rgba(46, 165, 221, 1);

}
.bottom-images{
  position: absolute;
  bottom: 115px;
  left: 30px;

}

.textareaDetails{
  position: relative;
}

.canSkipImg{
  position: relative;
  top: 6px;
}

/*show tooltip */

.notEditableElement{
  border: none !important;
}

.showTooltipOnHover{
  display: none;
  position: relative;
  left: 0;
  top: 0;
  color: white;
  background: #7775FC;
  z-index: 99999999;
  width: 230px;
  height: auto;
  border-radius: 10px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 16px 20px 8px rgba(0, 0, 0, 0.1);

}



.showTooltipOnHover p {
   font-size: 13px;
}

.showTooltipOnHover::after{
  content: "";
  position: absolute;
  top: 10%;
  left: 0%;
  margin-left: -8px !important;
  border-width: 15px;
  border-style: solid;
  border-color: #7775FC transparent transparent transparent;
}
/* .showTooltipOnHover.special::after{
  content: " ";
  position: absolute;
  top: 15%;
  left: 100%; 
  margin-top: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent #7775FC;
}
 */

.title-description{
   padding: 10px;
   line-height: 5px;
}

.showTooltipOnHover .description {
   margin-top: 10px;
   line-height: 15px;
}

.showTooltipOnHover .description h4{
   position: relative;
   top: 10px;
}
.bottom-images{
  display: none;
}