
*{
  font-family: sans-serif !important;
}

.product-gid-tooltip-lists{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;

}

.product-gid-tooltip-lists .product-gid-last-child{
  border-radius: 5px !important;
}
.product-gid-tooltip-lists .product-gid-removeTooltipLists{
 margin: 3px !important;
}
.product-gid-tooltip-lists p{
  margin: 15px 0 !important;
}
.product-gid-tooltip-lists {
    line-height: normal !important;
    width: 248px !important;
    height: 200px !important;
    background: white;
    position: relative !important;
    top: 100px !important;
    border-radius: 10px !important;
    color: #8f8f8f !important;
}

.product-gid-tooltip-lists p {
    display: inline-block !important ;
    position: relative !important;
    left: 10px !important;
    font-family: "arial" !important;
    top: 2px !important;
    font-size: 14px !important;
}

.product-gid-tooltip-list:hover {
    background: #ececec !important;
    cursor: pointer !important;

}
.product-gid-tooltip-list:nth-child(1){
  border-radius: 20px 20px 0 0 !important;
}
.product-gid-tooltip-list:nth-child(4){
  border-radius: 0 0 10px 10px !important;
}

.product-gid-tooltip-list img {
    position: relative !important;
    top: 11px !important;
    left: 11px !important;
} 




/**/

html,body{
  overflow-x: hidden !important;
}

.product-gid-toolbar{
  color: #8f8f8f !important;

  width: 248px !important;
  height: 230px !important;
  border-radius: 20px !important;
  background:white !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position:fixed !important;
  bottom:50px !important;
  right:50px !important;
  z-index: 99999999999999999 !important;
  border: none !important;
  
}
input,textarea{
  padding: 5px !important;
}

.product-gid-toolbar *{
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-image: initial !important;
  border: none !important;
}


.product-gid-toolbar .product-gid-li{
  position:relative !important;
  top:-20px !important;
  padding-top:6px !important;
  border-top:1px solid rgba(54, 56, 83, 0.15) ;
  cursor:pointer !important;

}
.product-gid-toolbar img{
  width: 34px !important;
  display:inline-block !important;
  margin-left:5px !important;
}
.product-gid-toolbar .product-gid-li p{
  display:inline-block !important;
  margin:20px !important;
  position:absolute !important;
  top:-6px !important;
  font-size: 14px !important;
}

.product-gid-toolbar .product-gid-li:hover{
background: #f9f9f9 !important;
}
.product-gid-lis .product-gid-li{
  font-size: 14px !important;
}

.product-gid-lis{
  margin-top: 15px !important;
}

.product-gid-close-btn{
  box-sizing: content-box !important;
  position: static !important;
  width: 34px !important;
  cursor: pointer;
  padding:10px !important;
}
.product-gid-toolbar .product-gid-li:nth-child(5){
border-radius:0 0 20px 20px !important;
}

/**/

.product-gid-tooltipsWindowParent{
  z-index: 9999999999999999999 ;
  position:absolute ;
  bottom:100px ;
  right:306px ;
  
}

.product-gid-tours-window1 {
  border-radius: 10px;
  width: 470px !important;
  height: 500px !important;
  right: 310px !important;
  bottom: 100px !important;
  border: none !important;
  position: fixed !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  background: rgba(255, 255, 255, 1);

}
.product-gid-tours-window1 .product-gid-closeBtn{
  margin: 10px !important;
  cursor: pointer;
}
.product-gid-closeTooltipDiv,.product-gid-saveTooltipBtn{
  cursor: pointer;
}

.product-gid-search-tour1{
  width: 420px;
  height: 35px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-left: 20px;

  padding-left: 15px;
}

.product-gid-tour1{
 padding: 10px;
 user-select: none;
 
}
.product-gid-search-tour1 img{
  width: 15px;
  height: 15px;
  margin-top: 6px;
}

.product-gid-edit{
  cursor: pointer;
}
.product-gid-remove{
  cursor: pointer;
}

.product-gid-search-tour1 input{
  margin-left: 10px;
  border: none;
  background: none;
  outline: none;
}
.product-gid-details1{
  display: inline-block;
  position: relative;
}

.product-gid-inner-details1{
  margin-left: 0 !important;
  display: inline-block;
  width: 440px !important;
  height: 100px;
  position: relative;
  box-shadow: 0px 8px 34px 10px rgba(0, 0, 0, 0.06);
}
.product-gid-inner-details1 input{
  margin-top: 40px;
  padding-top: 10px;
  position: absolute;
  border: none;
  outline: none;
  background: none;
}
.product-gid-details1 .product-gid-dragdrop{
  position: absolute !important;
  top: 42px;
  left: 5px;
}


.product-gid-inner-details1 p{
  color: rgba(164, 170, 175, 1);
  margin-left: 10px;
}
.product-gid-last-images{
  position: absolute !important;
  right: 5px !important;
  top: 32% !important;
}

.product-gid-tour1.product-gid-dragging :where(.product-gid-details1,i){
  opacity: 0.2;
}
.product-gid-flag-img{
  position: relative;
  top: 37px;
}
.product-gid-toursdnd{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}


.product-gid-toursdnd::-webkit-scrollbar {
  width: 12px;
}
 
.product-gid-toursdnd::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(44, 167, 255, 0.3);
}
 
.product-gid-toursdnd::-webkit-scrollbar-thumb {
  background-color: rgb(153, 197, 248);
  outline: 1px solid rgb(187, 221, 255);
}


.product-gid-last-images img:nth-child(2){
  position: relative;
  top: 4px;
}

/**/


.product-gid-addTooltipInformation{
  width: 300px !important;
  height: 350px !important;
  border-radius: 20px;
  z-index: 99999999999 !important;
  background: white;
  margin-top: -10px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;

}
.product-gid-tooltipDiv{
  padding: 20px !important;
}

.product-gid-tooltipDiv input{
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1) !important;
  border: none ;
  outline: none;
  border: 1px solid rgba(234, 234, 234, 1) !important;
  width: 240px !important;
  height: 25px !important;
  background-color: white;
  color: black;
}

.product-gid-tooltipDiv input::placeholder {
  position: relative !important;
  left: 4px !important;
}

.product-gid-tooltipDiv textarea{
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border: none;
  overflow: hidden !important;
  outline: none;
  resize: none;
  width: 240px !important;
  background-color: white;
  color: black;
  height: 150px !important;
}

.product-gid-tooltipDiv textarea::placeholder{
  position: relative !important;
  left: 4px !important;
}

.product-gid-tooltipDiv p{
  font-size: 14px;
}
.product-gid-tooltipDiv button {
  width: 115px !important;
  height: 35px !important;
  outline: none;
  border: none;
  color: white;
  border-radius: 35px;
  box-shadow: 0px 7.157894611358643px 17.894737243652344px 0px rgba(50, 157, 255, 0.5);
  margin: 0 65px !important;
  background: rgba(46, 165, 221, 1);

}
.product-gid-bottom-images{
  position: absolute;
  bottom: 115px;
  left: 30px;

}

.product-gid-textareaDetails{
  position: relative;
}

.product-gid-canSkipImg{
  position: relative;
  top: 6px;
}

/*show tooltip */

.product-gid-notEditableElement{
  border: none !important;
}

.product-gid-showTooltipOnHover{
  display: none;
  position: relative;
  left: 0;
  top: 0;
  color: white;
  background: #7775FC;
  z-index: 999999999999999999999 !important;
  width: 230px;
  height: auto;
  border-radius: 10px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 16px 20px 8px rgba(0, 0, 0, 0.1);

}



.product-gid-showTooltipOnHover p {
   font-size: 13px;
   margin-top: -10px;
}

.product-gid-showTooltipOnHover::after{
  content: "";
  position: absolute;
  /* top: 10%;
  left: 0%;
  margin-left: -8px !important;
  border-width: 15px;
  border-style: solid; */
  border-color: #7775FC transparent transparent transparent;
}
/* .product-gid-showTooltipOnHover.special::after{
  content: " ";
  position: absolute;
  top: 15%;
  left: 100%; 
  margin-top: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent #7775FC;
}
 */

.product-gid-title-description{
   padding: 10px;
   line-height: 5px;
}

.product-gid-showTooltipOnHover .product-gid-description {
   margin-top: 10px;
   line-height: 15px;
}

.product-gid-showTooltipOnHover .product-gid-description h4{
   position: relative;
   top: 10px;
}
.product-gid-bottom-images{
  display: none;
}

.product-gid-title-description{
  color: white !important;
}


/**/


.product-gid-switch {
  display: inline-block;
  position: relative;
  margin-left: 5px;
  margin-top: 10px;
  width: 52px;
  height: 25px;
}

.product-gid-switch input {
  display:none;
}

.product-gid-slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.product-gid-slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 22px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 23px;
}

input:checked + .product-gid-slider {
  background-color: rgb(31, 132, 255);
}

input:checked + .product-gid-slider:before {
  transform: translateX(26px);
}

.product-gid-slider.product-gid-round {
  border-radius: 34px;
}

.product-gid-slider.product-gid-round:before {
  border-radius: 50%;
}


